@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nova+Mono:wght@200;300;400;500;600;700;800&display=swap');


/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Cherry Cream Soda', cursive; */
/* font-family: 'Stick No Bills', sans-serif; */
/* font-family: 'Nova Mono', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #1de5c3;
  --color2: #1da3e5;
  --color3: #1d3fe5;
  --color4: #5f1de5;
  --color5: #c31de5;
  --color6: #e51da265;
  --wht: #fff;
  --blk: #000;
  --blktransp: rgba(0, 0, 0, 0.1);
  --blktransp1: rgba(0, 0, 0, 0.5);
  --blktransp2: rgba(0, 0, 0, 0.8);
  --transp: rgba(255, 255, 255, 0.1);
  --transp1: rgba(255, 255, 255, 0.5);
  --transp2: rgba(255, 255, 255, 0.8);
  --bgcolor: #47035f;
  --i: #ffffff;
  --colorbase: #050801;
  --primariotexto: #e51da3;
  --about1: #4189A6;
  --about2: #78b2bf80;
  --about3: #271302;
  --about4: #73461F;
  --about5: #F2A25C;
  --about6: #D9763D;
  --red: #ff0000;
}
body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  /* ++background-color: var(--bgcolor);*/
  /* check = background: linear-gradient (var(--color1), var(--color2), var(--color3));*/
  background-image: linear-gradient(red, yellow);
  height: 100%;
}

/* Inicia header */
header {
  border: 2px solid red;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 99vw;
  /*background: var(--transp3);*/
  background: var(--blk);
  backdrop-filter: blur(4px);
  z-index: 100;
}

#btn-menu {
  border: 1px solid green;
  display: none;
}

header label {
  border: 2px solid yellow;
  display: block;
  margin-left: 20px;
  text-align: center;
  width: 40px;
  height: 35px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid var(--wht);
}

header label:hover {
  cursor: pointer;
  background: var(--transp1);
}

header label i {
  font-size: 1.5em;
  color: white;
}

header nav.menu {
  position: absolute;
  top: 50px;
  left: 3px;
  display: flex;
  flex-direction: column;
  margin-left: -51%;
  transition: all .5s ease-in;
  z-index: 1000000000;
}

header nav.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav.menu ul li {
  border: 1px solid var(--blktransp1); border-radius: 10px;
  width: 90px;
  text-align: center;
  background: var(--color1);
  margin-bottom: 8px;
  cursor: pointer;
  transition: .3s;

}

header nav.menu ul li:hover {
  border: 1px solid var(--blktransp1);
  background: var(--color4);
  transform: scale(1.1) translateX(10px);
  cursor: pointer;
  box-shadow: 5px 5px 15px var(--wht);
  z-index: 10;
}

header nav.menu ul li a {
  border-bottom: 2px solid var(--transp3);
  display: block;
  padding: 5px;
  color: var(--blk);
  cursor: pointer;
  line-height: 2;
  text-decoration: none;
  z-index: 100;
}

header nav.menu ul li a:hover {
  cursor: pointer;
  color: var(--wht);
  font-weight: 800;
  text-align: center;
  z-index: 10;
}

#btn-menu:checked~.menu {
  margin-left: 0;
}

/* fin header */
.img{
  border: 3px solid green;
}