/*  CODIGO DE COMENTARIOS*/
/* ! comentario color rojo = inicia con un signo de admiración - indica error */
/* ? comentario color azul = inicia con un signo de interrogación - indica duda a resolver */
/* // comentario color rojo tachado = inicia con doble barra (//)- indica que se debe eliminar */
/* check = comentario color naranja = inicia con check - indica que se debe verificar funcionamiento */
/* * comentario color verde = inicia con asterisco (*)- indica comentario normal */
/* ++ comentario color blanco = inicia con doble signo de suma (++) - indica comentario destacado */

/* LLAMADA A FUENTES UTILIZADAS*/
/* ++ font-family: 'Ubuntu', sans-serif; */
/* ++ font-family: 'Cherry Cream Soda', cursive; */
/* ++ font-family: 'Stick No Bills', sans-serif; */
/* ++ font-family: 'Ubuntu Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}


:root {
    --wht: #fff;
    --blk: #000;
    --blktransp: rgba(0, 0, 0, 0.1);
    --blktransp1: rgba(0, 0, 0, 0.5);
    --blktransp2: rgba(0, 0, 0, 0.8);
}

body {
    background: rgba(51, 51, 51, 0.678);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.head {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 155px;
}

.image {
    filter: drop-shadow(2px 5px 10px rgba(56, 55, 55, 0.7));
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 15%;
}

img {
    border: 3px solid rgb(221, 218, 218);
    position: relative;
    top: 5px;
    left: 5px;
    width: 127px;
    height: 125px;
    background: rgb(224, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgb(170, 175, 175),
        inset 5px 5px 5px white,
        inset 5px 5px 3px rgba(252, 251, 251, 0.678),
        inset 13px 13px 25px rgb(211, 193, 193);
}

.titulo {
    position: absolute;
    top: 20px;
    left: 155px;
    display: flex;
    color: white;
    padding: 10px 30px;
    border: 3px solid #111;
    border-radius: 20px;
    background: #353535;
    box-shadow: 3px 3px 15px rgba(250, 248, 248, 0.438),
        inset 3px 3px 3px rgba(255, 255, 255, 0.527),
        -1px -1px 15px rgba(255, 255, 255, .75),
        inset -2px -2px 12px rgba(0, 0, 0, 0.75);
}

.name {
    font-size: 1.5em;
    padding-right: 5px;
    text-shadow: 0 1px 0 #ffffff,
        3px 2px 1px rgba(255, 255, 255, 0.726),
        10px 10px 25px #03e9f4,
        -10px -10px 25px #03e9f4;
}

.surname {
    font-size: 2.3em;
    padding-left: 5px;
    text-shadow: 0 1px 0 #ffffff,
        3px 2px 1px rgba(255, 255, 255, 0.726),
        10px 10px 25px #03e9f4,
        -10px -10px 25px #03e9f4;
    letter-spacing: 2px;
}

.botonera {
    /* border: 1px solid white; */
    position: relative;
    top: 60px;
    left: -122px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 800px;
    padding-right: 5px;
    font-family: 'Stick No Bills', sans-serif;
    margin: 0 auto;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 35px;
    border-radius: 10px;
    font-size: .8em;
    font-weight: 800;
    color: #03e9f4;
    background: #200274;
    transition: all .2s ease-in;
}

.btn:hover {
    transform: scale(1.2);
    font-size: 0.9em;
    color: #200274;
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    z-index: 10;
}

.principal {
    background: rgb(25, 20, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    z-index: -100;
}

.ini {
    display: block;
    position: relative;
    width: 98vw;
    max-width: 800px;
    height: 80vh;
    background-color: rgb(68, 80, 119);
    color: #fff;
}

.note {
    display: none;
    position: relative;
    width: 98vw;
    max-width: 800px;
    height: 80vh;
    background-color: rgb(68, 80, 119);
    color: #fff;
}


/* ++ Estilos generales */

h2 {
    text-align: center;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 2.5em;
    font-weight: 800;
    margin: 10px 0;
}


p {
    margin: 20px 20px;
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

li {
    font-family: 'Ubuntu Mono', monospace;    
    margin: 20px 0 20px 100px;
}

.links {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas{
    font-size: 4em;
    margin: 0 15px;

}

/* ++ Evento clic de CSS */

#click-event {
    /* display: none; */
}

#click-event ~ #a {
    display: block;
}
/* *texto provisorio */

/*  */